src/doc/dokka/** linguist-generated
src/doc/** linguist-documentation
compiler/src/test/resources/tests/**/ksp linguist-generated
gradlew linguist-vendored
gradlew.bat linguist-vendored
gradle/wrapper/** linguist-vendored
