[versions]
kotlin = "1.9.10"
dokka = "1.9.0"
compileTesting = "1.5.0"
autoService = "1.1.1"
incap = "1.0.0"
dagger = "2.48"
ksp = "1.9.10-1.0.13"
android-minSdk = "14"
android-compileSdk = "33"
androidx-test = "1.5.0"
kotlinpoet = "1.14.2"
room = "2.5.2"
retrofit = "2.9.0"

[plugins]
dagger-hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
binaryCompatibilityValidator = "org.jetbrains.kotlinx.binary-compatibility-validator:0.13.2"
mkdocs = "ru.vyarus.mkdocs:3.0.0"

[libraries]
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-jvm-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

kotlinx-metadata = "org.jetbrains.kotlinx:kotlinx-metadata-jvm:0.7.0"

dokka-gradlePlugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
dokka-versioningPlugin = { module = "org.jetbrains.dokka:versioning-plugin", version.ref = "dokka" }
dokka-allModulesPagePlugin = { module = "org.jetbrains.dokka:all-modules-page-plugin", version.ref = "dokka" }

okio = "com.squareup.okio:okio:3.5.0"

retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-moshi = { module = "com.squareup.retrofit2:converter-moshi", version.ref = "retrofit" }

android-gradlePlugin = "com.android.tools.build:gradle:8.1.1"
androidx-startup = "androidx.startup:startup-runtime:1.1.1"
androidx-lifecycle-viewmodel = "androidx.lifecycle:lifecycle-viewmodel:2.6.2"
androidx-test = { module = "androidx.test:core-ktx", version.ref = "androidx-test" }
androidx-test-runner = "androidx.test:runner:1.5.2"
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidx-test" }

auto-common = "com.google.auto:auto-common:1.2.2"
auto-service = { module = "com.google.auto.service:auto-service", version.ref = "autoService" }
auto-service-annotations = { module = "com.google.auto.service:auto-service-annotations", version.ref = "autoService" }

javapoet = "com.squareup:javapoet:1.13.0"
kotlinpoet = { module = "com.squareup:kotlinpoet", version.ref = "kotlinpoet" }
kotlinpoet-ksp = { module = "com.squareup:kotlinpoet-ksp", version.ref = "kotlinpoet" }

dagger = { module = "com.google.dagger:dagger", version.ref = "dagger" }
dagger-compiler = { module = "com.google.dagger:dagger-compiler", version.ref = "dagger" }
dagger-hilt-core = { module = "com.google.dagger:hilt-core", version.ref = "dagger" }
dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
dagger-hilt-android-testing = { module = "com.google.dagger:hilt-android-testing", version.ref = "dagger" }
dagger-hilt-android-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "dagger" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "dagger" }

ksp-api = { module = "com.google.devtools.ksp:symbol-processing-api", version.ref = "ksp"}

incap = { module = "net.ltgt.gradle.incap:incap", version.ref = "incap" }
incap-compiler = { module = "net.ltgt.gradle.incap:incap-processor", version.ref = "incap" }

compileTesting = { module ="com.github.tschuchortdev:kotlin-compile-testing", version.ref = "compileTesting" }
compileTesting-ksp = { module ="com.github.tschuchortdev:kotlin-compile-testing-ksp", version.ref = "compileTesting" }

junit = "junit:junit:4.13.2"
junit-jupiter = "org.junit.jupiter:junit-jupiter:5.10.0"

assertk = "com.willowtreeapps.assertk:assertk-jvm:0.27.0"

robolectric = "org.robolectric:robolectric:4.10.3"

testLogger = "com.adarshr:gradle-test-logger-plugin:3.2.0"

shadow = "com.github.johnrengelman:shadow:8.1.1"

room = { module ="androidx.room:room-ktx", version.ref = "room" }
room-compiler = { module ="androidx.room:room-compiler", version.ref = "room" }

[bundles]
compileTesting = ["compileTesting", "compileTesting-ksp"]
kotlinpoet = ["kotlinpoet", "kotlinpoet-ksp"]
jvmTesting = [
    "kotlin-test",
    "junit-jupiter",
    "assertk",
]
androidTesting = [
    "kotlin-test",
    "junit",
    "assertk",
    "androidx-test",
    "androidx-test-runner",
    "androidx-test-rules",
]
