[versions]
kotlin = "1.8.21"
dokka = "1.8.20"
compileTesting = "1.5.0"
autoService = "1.1.0"
incap = "1.0.0"
dagger = "2.46.1"
ksp = "1.8.21-1.0.11"
android-minSdk = "14"
android-compileSdk = "33"
androidx-test = "1.5.0"
kotlinpoet = "1.14.2"

[plugins]
dagger-hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
binaryCompatibilityValidator = "org.jetbrains.kotlinx.binary-compatibility-validator:0.13.2"
mkdocs = "ru.vyarus.mkdocs:3.0.0"

[libraries]
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-jvm-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

kotlinx-metadata = "org.jetbrains.kotlinx:kotlinx-metadata-jvm:0.6.2"

dokka-gradlePlugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
dokka-versioningPlugin = { module = "org.jetbrains.dokka:versioning-plugin", version.ref = "dokka" }
dokka-allModulesPagePlugin = { module = "org.jetbrains.dokka:all-modules-page-plugin", version.ref = "dokka" }

okio = "com.squareup.okio:okio:3.3.0"

android-gradlePlugin = "com.android.tools.build:gradle:8.1.0-beta04"
androidx-startup = "androidx.startup:startup-runtime:1.1.1"
androidx-test = { module = "androidx.test:core-ktx", version.ref = "androidx-test" }
androidx-test-runner = "androidx.test:runner:1.5.2"
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidx-test" }

auto-common = "com.google.auto:auto-common:1.2.1"
auto-service = { module = "com.google.auto.service:auto-service", version.ref = "autoService" }
auto-service-annotations = { module = "com.google.auto.service:auto-service-annotations", version.ref = "autoService" }

javapoet = "com.squareup:javapoet:1.13.0"
kotlinpoet = { module = "com.squareup:kotlinpoet", version.ref = "kotlinpoet" }
kotlinpoet-ksp = { module = "com.squareup:kotlinpoet-ksp", version.ref = "kotlinpoet" }

dagger = { module = "com.google.dagger:dagger", version.ref = "dagger" }
dagger-compiler = { module = "com.google.dagger:dagger-compiler", version.ref = "dagger" }
dagger-hilt-core = { module = "com.google.dagger:hilt-core", version.ref = "dagger" }
dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
dagger-hilt-android-testing = { module = "com.google.dagger:hilt-android-testing", version.ref = "dagger" }
dagger-hilt-android-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "dagger" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "dagger" }

ksp-api = { module = "com.google.devtools.ksp:symbol-processing-api", version.ref = "ksp"}

incap = { module = "net.ltgt.gradle.incap:incap", version.ref = "incap" }
incap-compiler = { module = "net.ltgt.gradle.incap:incap-processor", version.ref = "incap" }

compileTesting = { module ="com.github.tschuchortdev:kotlin-compile-testing", version.ref = "compileTesting" }
compileTesting-ksp = { module ="com.github.tschuchortdev:kotlin-compile-testing-ksp", version.ref = "compileTesting" }

junit = "junit:junit:4.13.2"
junit-jupiter = "org.junit.jupiter:junit-jupiter:5.9.3"

assertk = "com.willowtreeapps.assertk:assertk-jvm:0.26.1"

robolectric = "org.robolectric:robolectric:4.10.3"

testLogger = "com.adarshr:gradle-test-logger-plugin:3.2.0"

shadow = "com.github.johnrengelman:shadow:8.1.1"

[bundles]
compileTesting = ["compileTesting", "compileTesting-ksp"]
kotlinpoet = ["kotlinpoet", "kotlinpoet-ksp"]
jvmTesting = [
    "kotlin-test",
    "junit-jupiter",
    "assertk",
]
androidTesting = [
    "kotlin-test",
    "junit",
    "assertk",
    "androidx-test",
    "androidx-test-runner",
    "androidx-test-rules",
]
